body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#ins,#ins_heading{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  margin:  0.47rem;
  padding: 0px;
  color: #FEF2BF;
  line-height: 2rem; 
  text-align: left;
}
#ins_heading{
  text-align: center;
}

.Ins_button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive; 
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.container1 {
  display: block;
  width: 80%;
  margin: auto;
}
.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
